.mrgt10 { margin-top : 10px!important;}
.mrgt20 { margin-top : 20px!important;}
.mrgt30 { margin-top : 30px!important;}
.mrgt40 { margin-top : 40px!important;}
.mrgt50 { margin-top : 50px!important;}
.mrgt150 { margin-top : 150px!important;}
.mrgt180 { margin-top : 180px!important;}

.mrgb10 { margin-bottom : 10px!important;}
.mrgb20 { margin-bottom : 20px!important;}
.mrgb30 { margin-bottom : 30px!important;}
.mrgb40 { margin-bottom : 40px!important;}
.mrgb50 { margin-bottom : 50px!important;}

.mrgl10 { margin-left : 10px!important;}
.mrgl20 { margin-left : 20px!important;}
.mrgl30 { margin-left : 30px!important;}
.mrgl40 { margin-left : 40px!important;}
.mrgl50 { margin-left : 50px!important;}

.mrgr10 { margin-right : 10px!important;}
.mrgr20 { margin-right : 20px!important;}
.mrgr30 { margin-right : 30px!important;}
.mrgr40 { margin-right : 40px!important;}
.mrgr50 { margin-right : 50px!important;}

.mrg10 { margin : 10px!important;}
.mrg20 { margin : 20px!important;}
.mrg30 { margin : 30px!important;}
.mrg40 { margin : 40px!important;}
.mrg50 { margin : 50px!important;}

.pd10 { padding : 10px!important;}
.pd20 { padding : 20px!important;}
.pd30 { padding : 30px!important;}
.pd40 { padding : 40px!important;}
.pd50 { padding : 50px!important;}